# -----------------------------------------------------------------------------
# SESSION VARIABLES -----------------------------------------------------------
# -----------------------------------------------------------------------------

PARTNER_ID=
ADMIN_SECRET=
USER_ID=
PRIVILEGES=all:*,disableentitlement

# -----------------------------------------------------------------------------
# CONFIGURATION ---------------------------------------------------------------
# Use either search terms OR a CSV - not both. --------------------------------
# -----------------------------------------------------------------------------
TRANSCODING_PROFILE_ID=

TAGS=
CATEGORY_IDS=
ENTRY_IDS=

# OR

CSV_FILENAME=
ENTRY_ID_COLUMN_HEADER=

# -----------------------------------------------------------------------------
# PERFORMANCE -----------------------------------------------------------------
# -----------------------------------------------------------------------------
MAX_WORKERS=5