# KS Session Variables --------------------------------------------------------
PARTNER_ID=
ADMIN_SECRET=
USER_ID=
MEDIA_SPACE_URL=

# Channel Settings ------------------------------------------------------------
PRIVACY_CONTEXT=MediaSpace
CHANNEL_NAME=
OWNER=

# The category ID of the created channel's parent
PARENT_ID=

# Optional
CHANNEL_DESCRIPTION=

# Optional
MEMBERS=

# 1=Open, 2=Restricted, 3=Private
CHANNEL_PRIVACY=3

# 1=Auto Join, 2=Request to Join, 3=Not Allowed
USER_JOIN_POLICY=3

# 1=Partner Only, 3=Category Members Only
APPEAR_IN_LIST=3

# 1=Inherit, 2=Manual
INHERITANCE_TYPE=2

# 1=Contributor, 2=Moderator, 3=Member, 4=Manager
DEFAULT_PERMISSION_LEVEL=3

# 1=All Members, 2=Members with Permission
CONTRIBUTION_POLICY=2

# 0=No Moderation, 1=Moderation
MODERATION=0